In [9]:
import pandas as pd 
  
# intialise data of lists. 
data = {'id':[1, 1, 1, 1, 1], 'time':[0, 1, 2, 3, 4], 'F_x':[-1,0,-1,-1,-1], 'F_y':[-1,0,-1,-1,-1], 'F_z':[63,62,61,63,63], 'T_x':[-3,-3,-3,-2,-3], 'T_y':[-1,-1,0,-1,-1], 'T_z':[0,0,0,0,0]} 
  
# Create DataFrame 
timeseries = pd.DataFrame(data) 
  
# Print the output. 
timeseries

   id  time  F_x  F_y  F_z  T_x  T_y  T_z
0   1     0   -1   -1   63   -3   -1    0
1   1     1    0    0   62   -3   -1    0
2   1     2   -1   -1   61   -3    0    0
3   1     3   -1   -1   63   -2   -1    0
4   1     4   -1   -1   63   -3   -1    0

In [12]:
data_fail = {'':[0, 0, 0, 0, 0]}
y = pd.DataFrame(data_fail)
y

0  0
1  0
2  0
3  0
4  0

In [ ]:
target_url = ("http://archive.ics.uci.edu/ml/machine-learning-databases/robotfailure-mld/")
data = urllib2.urlopen(target_url)